[
  {
      "name": "${name}",
      "image": "${image}",
      "memory": 128,
      "essential": true,
      "portMappings": [
          {
              "containerPort": ${docker_port},
              "hostPort": ${host_port}
          }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "fr-app-log",
          "awslogs-region": "ap-northeast-1",
          "awslogs-stream-prefix": "fr-app-log"
        }
      }
  },
  {
      "name": "${nginx_name}",
      "image": "${nginx_image}",
      "memory": 128,
      "essential": true,
      "portMappings": [
          {
              "containerPort": ${nginx_docker_port},
              "hostPort": ${nginx_host_port}
          }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "fr-nginx-log",
          "awslogs-region": "ap-northeast-1",
          "awslogs-stream-prefix": "fr-nginx-log"
        }
      },
      "links": [
         "${name}"
      ]
  }
]
